html {
    height: 100%;
}

body {
    background: #070706;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    margin:0;
    padding: 0;
}

a {
    color: #f36c3a;
    text-decoration: none;
}

a:hover {
    color: #f04837;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-10 {
    margin-top: 10px;
}

h2 {
    font-weight: 300;
}

h2.spacing-bottom {
    margin-bottom: 35px;    
}

h2.spacing-top {
    margin-top: 35px;    
}

.logo-container {
    width: 400px;
}

@media screen and (max-width: 500px) {
    .logo-container {
        padding: 0 30px;
    }
}

.logo-container img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}
